/* --------------------------- html --------------------------- */
html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #294c60;
}

/* --------------------------- layout --------------------------- */
.layout {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 27px;
  border-left: 10px solid #102a3d;
  border-right: 10px solid #102a3d;
  border-radius: 60px;
  padding: 0 10px 0 10px;
}

.salary-calculator {
  width: 600px;
  height: 700px;
  background-color: #adb6c4;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.household-summary {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 700px;
  background-color: #adb6c4;
  border-radius: 20px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* --------------------------- texts --------------------------- */
h1 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px 0 0 30px;
  color: #334155;
}

/* --------------------------- inputs-container --------------------------- */
.family-member-tabs {
  width: 500px;
  overflow-x: auto;
  white-space: nowrap;
}

.family-member-tabs span {
  display: inline-block;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px;
  background-color: #294c60;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

.family-member-tabs span:hover {
  cursor: pointer;
  background-color: #1b3f54;
}

.family-member-tabs:nth-child(1) {
  margin-left: 30px;
}

/* .family-member-tabs button {
  font-size: 10px;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-left: 15px;
  border: 2px solid #334155;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
}

.family-member-tabs button:hover {
  background-color: #cccccc;
  cursor: pointer;
} */

/* --------------------------- inputs-container --------------------------- */
.inputs-container {
  display: flex;
  flex-direction: column;
}

.inputs-container label,
.inputs-container small {
  margin-left: 30px;
  margin-top: 2px;
}

.inputs-container .input-text,
.inputs-container .gross-income {
  width: 50%;
  margin: 5px 0 5px 30px;
  padding-left: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  height: 25px;
}

.inputs-container .input-text:hover,
.inputs-container .gross-income:hover {
  border: 2px solid #a5f3fc;
}

#family-name-span,
#money-span {
  margin-top: 20px;
}

.smokey {
  opacity: 0.5;
  font-size: 14px;
}

/* --------------------------- save-delete-clear --------------------------- */
.save-delete-clear {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: 0;
  right: 0;
  padding-top: 90px;
  padding-right: 1px;
}

.mg-top {
  margin-top: 10px;
}

/* --------------------------- slider --------------------------- */
.slider-container {
  margin: 10px 0 0 30px;
}

.slider {
  width: 80%;
  height: 10px;
}

/* --------------------------- buttons --------------------------- */
.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px 0 0 80px;
  width: 60%;
}

.percents-button {
  background-color: #334155;
  color: white;
  font-weight: bold;
  width: 60px;
  height: 45px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.red:hover {
  border: 2px solid #dc2727;
  cursor: pointer;
  transform: translateY(0.5px);
  box-shadow: 0 3px 7px #dc2727;
}

.green:hover {
  border: 2px solid #16a34a;
  cursor: pointer;
  transform: translateY(0.5px);
  box-shadow: 0 3px 7px #16a34a;
}

/* --------------------------- discounts --------------------------- */
.discounts-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 0 0 30px;
  width: 100%;
  position: relative;
}
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display: none;
}

.checkbox {
  background-color: #3f5667;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.checkbox:before {
  background-color: #adb6c4;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input[type="checkbox"]:checked + .checkbox {
  background-color: #001b2e;
}

input[type="checkbox"]:checked + .checkbox:before {
  transform: translateX(26px);
}

.checkbox.round {
  border-radius: 34px;
}

.checkbox.round:before {
  border-radius: 50%;
}

.discounts-container div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.discounts-container label {
  margin-top: 5px;
}

.discounts-container div p {
  margin-left: 8px;
  margin-bottom: 5px;
  margin-top: 13px;
}

/* Firss házas kedvezmény */
.new-weds {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  bottom: 84px;
  left: 290px;
  font-size: 10px;
}

.set-date-button {
  font-size: 10px;
  width: 100px;
  height: 20px;
  border: 2px solid #334155;
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
}

.set-date-button:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.new-weds-valid {
  background-color: #22c55e;
  border: 2px solid #16a34a;
  margin-left: 10px;
  border-radius: 20px;
  align-content: center;
  justify-content: center;
  width: 60px;
}

.new-weds-not-valid {
  background-color: #ef4444;
  border: 2px solid #dc2626;
  margin-left: 10px;
  border-radius: 20px;
  align-content: center;
  justify-content: center;
  width: 80px;
}

/* Családi kedvezmény */
.csk-panel-container {
  width: 600px;
  position: absolute;
  bottom: -30px;
  font-size: 12px;
}

.hidden {
  visibility: hidden;
}

.csk-panel-container .plus-minus-button {
  width: 25px;
  height: 20px;
  border: 2px solid #334155;
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
  margin: 5px 5px 0 5px;
}

.csk-panel-container button:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.csk-panel-container span {
  margin: 8px 0 0 0;
}

/* --------------------------- netto ber --------------------------- */
.netto-ber {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.netto-ber p {
  width: 160px;
  margin-top: 25px;
}

.netto-ber div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 70px;
  background-color: #334155;
  border-radius: 10px;
  color: white;
}

/* --------------------------- Household --------------------------- */
#household-h1 {
  text-align: center;
  color: #334155;
}

/* --------------------------- table --------------------------- */
.table-household {
  max-height: 500px;
  overflow-y: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr {
  background-color: #f9f9f9;
}

.f-name:hover {
  background-color: #ccc;
  cursor: pointer;
}
